/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.jan.2018, 21:30:38
    Author     : olavt
*/

body {
    margin: 0px;
    font-size: 50px;
}

#world-Wrapper {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    width: 35%;
    text-align: center;
    margin: auto;
}

.world-button {
padding: 0px;
margin: 20px;
}

#back-button {
 margin: 5px;
 position: absolute;
 left: 20px;
 top: 1000px;
}
