/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.jan.2018, 21:30:38
    Author     : olavt
*/

body {
    margin: 0px;
    font-size: 50px;
}

#world-Wrapper {
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    text-align: center;
    margin: auto;
    width: 50%;
    
}

.world-button {
padding: 0px;
margin: 20px;
}

#back-button {
 margin: 5px;
 position: absolute;
 left: 20px;
 top: 690px;
}
#Title-World-Select{
    text-align: center;
}
