/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.jan.2018, 21:30:38
    Author     : olavt
*/

body {
    font-family: 'Open Sans';
    font-size: 1vw;
    margin: 0px;
    overflow: hidden;
}

button {
    font-family: 'Open Sans';font-size: 22px;
}

input {
    font-family: 'Open Sans';font-size: 22px;
}

@font-face {
    font-family: 'chalkboard';
    src: url("../assets/fonts/chalkboard.ttf") /* TTF file for CSS3 browsers */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@keyframes blowUpElement {
    0% {
        transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}