/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.jan.2018, 15:27:23
    Author     : olavt
*/
body {
    font-family: 'Open Sans';font-size: 22px;
}

button {
    font-family: 'Open Sans';font-size: 22px;
}

input {
    font-family: 'Open Sans';font-size: 22px;
}

#clickToStart {
    font-size: 80px;
    color: white;
    font-weight: bold;
    margin: 20%;
}

#mainMenuCanvas {
    background-image: url("../assets/mainMenu/mainMenuBackground.png");
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

/*Main Menu*/
#mainMenuSheet {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

}

#mainMenuTitleImage {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#mainMenuContent {
    margin-top: 10%;
    padding-bottom: 5%;
    box-sizing: border-box;
    background: url("../assets/mainMenu/mainMenuBorder.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;
}

#mainMenuContent a {
    color: white;
    font-size: 2vw;
    font-family: chalkboard;
    display: inline-block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 5%;
    transition: all 1s;
}

#mainMenuContent a:hover {
    cursor: pointer;
    transform: scale(1.3);
}

/* Modal Content/Box, and MathQuestion */
#settingsModalContent, #MathQuestion {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
    animation: blowUpElement 1s;
}

.volumeSlidecontainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.volumeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volumeSlider:hover {
    opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 20px;
    background: white;
    cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
    width: 80px;
    height: 20px;
    background: white;
    cursor: pointer;
}

/* Modal Content/Box */
#creditsModalContent {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 25%; /* Could be more or less, depending on screen size */
    animation: blowUpElement 1s;
}

/* Select world */

.titleWorldSelect {
    color: white;
    font-family: chalkboard;
    text-align: center;
}

.worldSelectionWrapper {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}


.selectWorldButton {
    width: 22%;
    margin: 2% 5%;
    height: 16vh;
    transition: all 1.5s;
    color: white;
    background-color: rgba(20, 20, 20, 0.9);
    border: none;
    box-sizing: border-box;
    background-size: 100% 100%;
}

.selectWorldButton:hover {
    transform: scale(1.2);

}

.selectWorldModal {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 50%; /* Could be more or less, depending on screen size */
    animation: blowUpElement 1s;
}

.selectWorldModal img {
    margin-right: 5%;
    float: right;
    transition: all 1s;
}

.selectWorldModal img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.selectWorldModal p {
    margin-right: 10%;
}

#back-button {
    margin: 5px;
    position: absolute;
    left: 20px;
    top: 690px;
}
