/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.jan.2018, 15:27:56
    Author     : olavt
*/

#world1{
    background: url("../assets/world1/world1photo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin:auto;
    background-repeat: no-repeat;  
    height: 1080px;
    position: relative;
}


.world1title {
    margin: 0px;
    text-align: center;
    font-size:50px;
    color:white;
}

.mathbutton {

    padding: 0px;
    margin: 150px;

}

#mathwrapper {
    margin-left: 500px;
    margin-bottom: 200px;
}


.icecream {
    position: relative;
    margin-left: 205px;
}

.cloud {
    margin-left: 200px;
}