/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.jan.2018, 15:27:56
    Author     : olavt
*/

#world1Canvas, #stage01Canvas {
    box-sizing: border-box;
    background-image: url("../assets/world1/world1photo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.world1title {
    margin: 0px;
    text-align: center;
    font-size:50px;
    color:white;
}

.mathbutton {
    font-size: 3vw;
    color: black;
    font-weight: bold;
    padding: 1%;
    width: 8%;
    margin-left: 14%;
    border: 5px solid black;
    border-radius: 100px;
    background-color: pink;
    animation: blowUpElement 1s;
}

.mathbutton:hover {
    transform: scale(1.1);
}

.mathbutton:hover {
    cursor: pointer;
}

button:disabled,
button[disabled]{
    background-color: rgb(230,230,230);
  color: #666666;
}

#mathwrapper {
    position: absolute;
    bottom: 20%;
    width: 100%;
}


.icecream {
    position: relative;
    margin-left: 205px;
}

.cloud {
    margin-left: 200px;
}

/* stage1 testing */
#stage01Center {
    position: absolute;
    margin-left: 20%;
    width: 60%;
    height: 100%;
}

#stage01Title {
    margin: 0px;
    text-align: center;
    font-size:50px;
}

#question1 {
background-color: white;
width: 100%;
height: 30%;
margin-bottom: 20px;
position: relative;
background: #ffffff;
border-radius: .4em;
}
#answerOptions {
background: #ffffff;
border-radius: .4em;
width: 100%;
height: 65%;
}

/* speach bubble css */
#question1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -17px;
	margin-left: -34px;
}
