/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.jan.2018, 15:27:56
    Author     : olavt
*/
body {
    font-family: 'Open Sans';font-size: 22px;
}

button {
    font-family: 'Open Sans';font-size: 22px;
}

input {
    font-family: 'Open Sans';font-size: 22px;
}

#world1Canvas, #stageCanvas {
    box-sizing: border-box;
    background-image: url("../assets/world1/world1photo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

#middleCanvas {
    display: block;
    position: relative;
    width: 70%;
    margin-top: 8px;
    margin-left: 15%;
    margin-right: 15%;
}

#frontCanvas {
    display: block;
    position: absolute;
    top:0;
    left:0;
} 

#startModalContent {
    background-color: rgb(25, 25, 25);
    font-size: 1vw;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    animation: blowUpElement 1s;
    z-index: 2;
}

#gameOverModalContent {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 25%; /* Could be more or less, depending on screen size */
    animation: blowUpElement 1s;
    z-index: 2;
}

#gameOverModalContent button {
    float: right;
}

#winModalContent {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 25%; /* Could be more or less, depending on screen size */
    animation: blowUpElement 1s;
}

#questionBox {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8px;
    font-size: 3vw;
    text-align: center;
    background-color: black;
    color: white;
    height: 128px;
}

.world1title {
    margin: 0px;
    text-align: center;
    font-size:50px;
    color:white;
}

.mathbutton {
    font-size: 3vw;
    color: black;
    font-weight: bold;
    padding: 1%;
    width: 8%;
    margin-left: 14%;
    border: 5px solid black;
    border-radius: 100px;
    background-color: pink;
    animation: blowUpElement 1s;
}

.mathbutton:hover {
    transform: scale(1.1);
}

.mathbutton:hover {
    cursor: pointer;
}

button:disabled,
button[disabled]{
    background-color: rgb(230,230,230);
    color: #666666;
}

#mathwrapper {
    position: absolute;
    bottom: 20%;
    width: 100%;
}


.icecream {
    position: relative;
    margin-left: 205px;
}

.cloud {
    margin-left: 200px;
}

/* stage1 testing */
#stageCenter {
    position: absolute;
    margin-left: 20%;
    width: 60%;
    height: 100%;
}

#stageTitle {
    margin: 0px;
    text-align: center;
    font-size:50px;
}

#question {
    background-color: white;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    text-align: center;
}
#answerOptions {
    background: #ffffff;
    border-radius: .4em;
    width: 100%;
    height: 60%;
    text-align: center;
    position: relative;
}


/* speach bubble css */
#question:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 34px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -17px;
    margin-left: -34px;
}

.worldTopBar {
    font-size: 5vh;
    width: 100%;
}

.worldTopBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.worldTopBar li {
    float: left;
    display: block;
}

.worldScorePanel {
    width: 10%;
}

.world1title {
    text-align: center;
    width: 70%;
}

.menuButton {
    width: 10%;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 6px 6px 6px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px); 
}

/* Bottom left*/
.bottom-left {
    position: absolute;
    bottom: 25px;
    left: 16px;
}

/* Top left*/
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right*/
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right*/
.bottom-right {
    position: absolute;
    bottom: 25px;
    right: 16px;
}

/* Centered*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#questionPicture {
    position: relative;
}


#stagebackground {    
    background: radial-gradient(DarkTurquoise  , whitesmoke);
    border:solid 3px;
    width: 50%;
    height: 100%;  
    position: absolute;   
    text-align: center;
    left:500px;   
}

#question04{
    
    font-size:30px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:black;
    text-align: center;        
}

#qanswers{
    font-size:30px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:black;
    text-align: center;
}

#exitbutton{  
    text-align: center;
}

#minigamebutton04{
    text-align: center;
}

#icecream04{
        width:400px;
}

#total04{
     font-size:30px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:black;
    text-align: center;
  }
  
  #icediv{
    font-size:30px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:black;
    text-align: center;
      
  }