/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.jan.2018, 15:27:56
    Author     : olavt
*/

#world1Canvas {
    box-sizing: border-box;
    background-image: url("../assets/world1/world1photo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.world1title {
    margin: 0px;
    text-align: center;
    font-size:50px;
    color:white;
}

.mathbutton {
    color: black;
    font-weight: bold;
    padding: 24px;
    margin-left: 20%;
    border: 5px solid black;
    border-radius: 100px;
    background-color: pink;

}

.mathbutton:hover {
    cursor: pointer;
}

button:disabled,
button[disabled]{
    background-color: rgb(230,230,230);
  color: #666666;
}

#mathwrapper {
    position: absolute;
    bottom: 20%;
    width: 100%;
}


.icecream {
    position: relative;
    margin-left: 205px;
}

.cloud {
    margin-left: 200px;
}